pillow==8.1.0
aiogram==2.11.2
async-generator==1.10
async-timeout==3.0.1
aiohttp==3.7.3
requests==2.22.0
numpy==1.19.5
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1
